.footer {
  width: 100%;
  max-width: 1024px;
  font-size: 16px;
  margin: 0 auto 30px;
}
.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.fText {
  margin-bottom: 20px;
}
