.navbar {
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  padding: 12px 32px 8px;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.logo:hover,
.logo:active {
  cursor: pointer;
}

.navButton {
  margin-left: 20px;
  border: 1px solid #1f539b;
  padding: 10px 16px;
  cursor: pointer;
  color: #003580;
  font-weight: 600;
  border-radius: 2px;
}

.navItems {
  display: flex;
}
.navItem {
  font-weight: 500;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.navItem:hover,
.navItem:active {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02); /* Tăng kích thước một chút */
}

.navService {
  display: flex;
  align-items: center;
  gap: 34px;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
