.discountContainer {
  width: 100%;
  max-width: 1024px;
  margin: 100px auto 20px;
  /* display: flex;
  justify-content: center; */
}

.discountContainer h1 {
  margin-bottom: 10px;
}
.discountContainer p {
  color: gray;
}

.discountItem {
  position: relative;
  color: white;
  border-radius: 2px;
  overflow: hidden;
  height: 200px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.discountImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.discountTitles {
  position: absolute;
  top: 10px;
  left: 20px;
  align-items: center;
  font-weight: 500;
}
.discountTitles p {
  color: rgb(235, 233, 233);
}

.discountBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 400;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 2px;
  transition: ease-in-out 0.3s;
}
.discountBtn:active,
.discountBtn:hover {
  cursor: pointer;
  background-color: #075791;
}

.dot {
  font-size: 36px;
  color: #0071c2;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
