.flag {
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin-bottom: 4px;
}

.featuredFirst {
  width: 100%;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  z-index: 1;
}

.featuredItem {
  position: relative;
  color: white;
  border-radius: 4px;
  overflow: hidden;
  height: 250px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.1s;
}
.featuredItem:hover,
.featuredItem:active {
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.featuredImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.featuredTitles {
  position: absolute;
  top: 0;
  left: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.featuredSecond {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}
