.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px 10px 40px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}
.lsTitle {
  font-size: 22px;
  color: #555;
  margin-bottom: 16px;
}
.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  position: relative;
}
.listResult {
  flex: 3;
}

.lsInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
  background-color: white;
  gap: 5px;
  border-radius: 5px;
}

.lsInput > input {
  border: none;
  outline: none;
  height: 30px;
}
.lsInput > span {
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.lsItem > span {
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.lsItem > label {
  font-size: 14px;
}

.lsIcon {
  color: lightgray;
  margin-right: 4px;
}
.options {
  margin-top: 20px;
  padding: 10px;
}
.lsOptionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
  font-size: 12px;
}
.lsOptionInput {
  width: 50px;
}

.listSearch > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.listSearch > button:hover,
.listSearch > button:active {
  cursor: pointer;
  background-color: #075791;
  color: white;
}

.date {
  position: absolute;
  top: 65px;
  z-index: 2;
}
